* {
  margin: 0%;
  padding: 0%;
  text-decoration: none;
}
.sideBar {
  margin-right: 0px;
  width: 200px;
  height: 100vh;
  background-color: #14101b;
}
.top {
  font-size: larger;
  text-align: center;
  padding-top: 27px;
}
.logo {
  color: aliceblue;
}
.links ul {
  color: aliceblue;
  list-style: none;
  padding-top: 55px;
}
.icon {
  font-size: 21px;
  padding: 0px 10px;
}
.link {
  display: flex;
  color: aliceblue;
  font-size: 17px;
  padding: 20px 0px;
  margin: 9px 0;
}
.link:hover {
  background-color: #362e46;
}
.link-active {
  display: flex;
  color: aliceblue;
  font-size: 17px;
  padding: 20px 0px;
  margin: 9px 0;
  background-color: #362e46;
}
.buttom {
  margin-left: 11px;
  margin-top: 70px;
}
.ismail-chouhad {
  font-size: 9px;
  color: aliceblue;
}
strong {
  padding-left: 7px;
  font-size: 11px;
  text-decoration: underline;
}

/* Mobile */
@media screen and (max-width: 768px) {
  .sideBar {
    width: 100vw;
    height: 100px;
    background-color: #14101b;
    overflow: hidden;
  }
  .top {
    font-size: medium;
    text-align: center;
    padding-top: 5px;
  }
  .links ul {
    display: flex;
    color: aliceblue;
    padding: 1px;
    column-gap: 10px;
    justify-content: center;
  }
  .link {
    display: flex;
    color: aliceblue;
    font-size: 9px;
    padding: 10px 5px;
    align-items: center;
  }
  .link-active {
    display: flex;
    color: aliceblue;
    font-size: 9px;
    background-color: #362e46;
    padding: 10px 5px;
    align-items: center;
    border-radius: 5%;
  }
  .icon {
    font-size: 17px;
    padding: 0 10px 0 0;
  }
  .buttom {
    margin: 0px;
    display: flex;
    justify-content: center;
  }
  .ismail-chouhad {
    font-size: 5px;
    color: aliceblue;
  }
  strong {
    padding-left: 0px;
    font-size: 9px;
    text-decoration: underline;
  }
}
